{{define "home"}}
  <link rel="stylesheet" href="/static/css/main.css" />

  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Simple header</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Sign in</a></li>
        <li class="nav-item"><a href="#" class="nav-link dark">Sign Up</a></li>
      </ul>
    </header>
<body class=" m-0 border-0 bd-example-p-0 bd-example-row">

<div class="container ">
  <div class=" text-center">
    <div class="row">
      <div class="col-lg-8">col</div>
        <div class="col-md-4">  
          <button>Sign in</button>
            <button>Sign out</button>
            </div>
      </div>
        </div>
      



<div>1</div>

            </div>   
    

    
    <!-- End Example Code -->
  </body>
{{end}}